# Compiled Java files
*.class

# Logs
*.log

# Maven
target/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Spring
src/main/resources/application.properties
*.properties
